@using Missing.Models
@model IEnumerable<Missing.Models.Person>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastPlace)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
            <td>
                <img src="@Url.Content("~/" + item.Picture)" style="height: 150px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPlace)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdPerson }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdPerson }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdPerson })
            </td>
        </tr>
    }
</table>
