@model Management.Models.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Issue Create View (Administration)";
}

@if (SignInManager.IsSignedIn(User))
{
        Html.RenderPartial("~/Views/Shared/_SignedIn/_SignedIn_before.cshtml");

        <div class="container">
`           <form asp-action="Create">
                <div class="row">
                    <div class="col-xl-6 col-md-24">
                        <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="IssueNameDto" class="control-label">IssueName</label>
                                <input asp-for="IssueNameDto" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="IssueParentIdDto" class="control-label">Project</label>
                                <select asp-for="IssueParentIdDto" class="form-select" aria-label="Default select example">
                                    @{
                                        foreach (var item in @Model.Projects)
                                        {
                                            if (@item.isProject == true)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="IssueStatusNameDto" class="control-label">Status</label>
                                <select asp-for="IssueStatusNameDto" class="form-select" aria-label="Default select example">
                                    <option value="Open">Open</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Done">Done</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="IssueStartDateDto" class="control-label">Start date</label>
                                <input asp-for="IssueStartDateDto" type="date" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="IssueEndDateDto" class="control-label">End date</label>
                                <input asp-for="IssueEndDateDto" type="date" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="IssueAssigneeNameDto" class="control-label">Assignee</label>
                                <select asp-for="IssueAssigneeNameDto" class="form-select" aria-label="Default select example">
                                    <option value="Unassigned">Unassigned</option>
                                    @{
                                        foreach (var item in @Model.Users)
                                        {
                                            if (@item.FirstName != "Unassigned")
                                            {
                                                <option value="@item">@item.FirstName @item.LastName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-24">
                        <div class="mb-3">
                            <label asp-for="IssueDescriptionDto" class="control-label">Description</label>
                            <textarea asp-for="IssueDescriptionDto" class="form-control" rows="20" style="resize: none;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="float:left; margin-right: 5px;">
                    <input type="submit" value="Save" class="btn btn-primary" style="float:left; margin-right: 5px;"/>
                </div>
            </form>
        </div>

        //CREATE TOAST (below)
        <div class="col-xl-12 col-md-24">
            <div class="position-fixed top-50 start-50 translate-middle p-3" style="z-index: 11">
                <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" style="font-size:18px">
                <div class="toast-header">
                    <img src="@Href("~/assets/img/green_checked_mark.jpg")" class="rounded me-2" alt="..." width="40">
                    <strong class="me-auto">Succeed</strong>
                    <small>just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Issue has been created
                </div>
                </div>
            </div>
        </div>

        <script>
            if ('@(Model.isAfterCreate)'=="True") {
                $(document).ready(function () {
                    $(".toast").toast('show');
                });
            };

        </script>
        

        Html.RenderPartial("~/Views/Shared/_SignedIn/_SignedIn_after.cshtml");
}
else
{
    Html.RenderPartial("~/Views/Shared/_SignedIn/_SignedIn_else.cshtml");

}