@model Management.Models.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
        Html.RenderPartial("~/Views/Shared/_SignedIn/_SignedIn_before.cshtml");

        <div class="row">
            <div class="col-xl-4 col-md-8">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Open</div>


                    @if (Model?.OpenIssues is not null)
                    {
                        
                    foreach (var item in Model.OpenIssues)
                    {

                        <div class="d-grid gap-2 card-footer">

                            @{
                                if(item.isProject)
                                {
                                    <a class="btn btn-primary text-left" style="text-align: left" asp-area="" asp-controller="Project" asp-action="Details" asp-route-id=@item.Id>
                                    @item.Id &#9 @item.Name
                                </a>
                                }
                                else
                                {
                                    <a class="btn btn-primary text-left" style="text-align: left" asp-area="" asp-controller="Issue" asp-action="Details" asp-route-id=@item.Id>
                                    @item.Id &#9 @item.Name
                                </a>
                                }
                            }

                            


                        </div>

                    }
                }



                </div>
            </div>
            <div class="col-xl-4 col-md-8">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">In Progress</div>


                    @if (Model?.InProgressIssues is not null)
                    {
                        foreach (var item in Model.InProgressIssues)
                        {
                            
                            <div class="d-grid gap-2 card-footer"> 

                            @{
                                if (item.isProject)
                                {
                                    <a class="btn btn-warning text-left" style="text-align: left; color: #ffffff" asp-area="" asp-controller="Project" asp-action="Details" asp-route-id=@item.Id>
                                    @item.Id &#9 @item.Name
                                </a>
                                }
                                else
                                {
                                    <a class="btn btn-warning text-left" style="text-align: left; color: #ffffff" asp-area="" asp-controller="Issue" asp-action="Details" asp-route-id=@item.Id>
                                    @item.Id &#9 @item.Name
                                </a>
                                }
                            }
                                


                            </div>
                        }
                    }


                </div>
            </div>
            <div class="col-xl-4 col-md-8">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Done</div>


                    @if (Model?.DoneIssues is not null)
                    {
                        foreach (var item in Model.DoneIssues)
                        {
                            
                            <div class="d-grid gap-2 card-footer"> 
                                @{
                                    if(item.isProject)
                                    {
                                        <a class="btn btn-success text-left" style="text-align: left" asp-area="" asp-controller="Project" asp-action="Details" asp-route-id=@item.Id >
                                        @item.Id &#9 @item.Name
                                    </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success text-left" style="text-align: left" asp-area="" asp-controller="Issue" asp-action="Details" asp-route-id=@item.Id >
                                        @item.Id &#9 @item.Name
                                    </a>
                                    }
                                }
                                

                                


                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        Html.RenderPartial("~/Views/Shared/_SignedIn/_SignedIn_after.cshtml");
}
else
{    
    Html.RenderPartial("~/Views/Shared/_SignedIn/_SignedIn_else.cshtml");
}